services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: hrm
      POSTGRES_USER: hrm_user
      POSTGRES_PASSWORD: hrm_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
